.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.apexcharts-legend-text {
  color: #fff !important;
}

.faq p {
  font-size: 15px;
  margin-bottom: 2rem;
  max-width: 80%;
}

.faq h2 {
  margin: 1rem 0;
}

.about {
  text-align: center;
}

.about h2,
h1 {
  font-family: "Boogaloo", cursive;
}

.about p {
  font-size: 18px;
  margin: 1rem auto;
  max-width: 80%;
}

.about .disclaimer {
  color: #ecd662;
}

.about .disclaimer span {
  display: block;
}
.about .disclaimer p {
  font-size: 14px;
  max-width: 60%;
  margin: 1rem auto;
}

.about img {
  margin: 0 0.5rem;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #070d19;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background: #172340;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#SvgjsText4429 tspan {
  font-size: 50px;
}
